/* CSS Document */


body {
	background-color: #993333;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	/*background-image: url(logos/vertical_lang.gif);*/
	background-repeat: no-repeat;
	color: #000000;
	}
.vertical {
	background-color: #ffffff;
	background-image: url(logos/vertical_lang.gif);
	background-repeat: no-repeat;
	color: #000000;
	}
a:link { text-decoration:none; color:#000000; } 
a:visited { text-decoration:none; color:#000000; }
a:hover { text-decoration:none; color:#ea8fa1; }
a:active { text-decoration:none; }

#container {
	width: 940px;
	padding: 0px;
	background-repeat: no-repeat;
	background-image: url(logos/vertical_lang.gif);
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFFFFF;
	}

#content {
	width: 765px;
	padding: 0px;
	margin-left: 155px;
	background-color: #fff;
	}
#content_kuenstler {
	width: 765px;
	padding: 120px 5px 5px;
	margin-left: 155px;
	background-color: #fff;
}
#text {
	padding: 5px 360px 5px 40px;
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	}
		
#menu {
	float: left;
	width: 125px;
	margin: 0px 10px 0 0px;
	position: relative;
	visibility: visible;
	padding-top: 15px;
	background-color: #FFFFFF;
	}

		
.box{
	text-transform: uppercase;
	font-style: normal;
	padding: 10px 0px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 2px;
	line-height: 25px;
	background-image: url(%09background-image:%20url(logos/vertical_lang.gif);
 
			}
/* footer */
#footer {
	clear: both;
	width: 939px;
	text-align: center;
	font-size: 11px;
	border: 1px solid #3f464e;
	background-color: #3f464e;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: .01em;
	padding-top: 16px;
	padding-bottom: 16px;
	}
#footer_inside {
	padding: 0px;
	margin-left: 155px;
	background-color: #3f464e;
	z-index: 1;
	color: #FFFFFF;
}
	#footer .date {
	float: left;
	text-align: left;
	width: 132px;
		}
	
	#footer .contact {
	float: right;
	text-align: center;
	width: 780px;
	background-color: #FF0000;
		}
/* end footer */	
div.spacer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding: 0;
  }

/* menu */
#menu_horizontal {
	width: 775px;
	padding: 0px;
	margin-left: 155px;
	background-color: #FFFFFF;
	height: 20px;
	position: relative;
	visibility: visible;
	z-index: 1;
	left: 0px;
}
#menu_horizontal_inside {
	padding: 0px;
	background-color: #FFFFFF;
	position: relative;
	visibility: visible;
	z-index: 1;
	left: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	font-size: 11px;
	margin-right: 15px;
	text-decoration: none;
}
.menu_unten {
	background-color: #3f464e;
	visibility: visible;
	z-index: 1;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
}
.menu_unten_inside {
	padding: 6px 0px 0px;
	background-color: #FFFFFF;
	position: relative;
	visibility: visible;
	z-index: 1;
	font-weight: bold;
	text-transform: none;
	text-align: right;
	font-size: 11px;
	text-decoration: none;
	color: #3f464e;
}
#name_kuenstler {
	text-transform: capitalize;
	color: #d45d17;
	text-align: left;
	top: 156px;
	left: 301px;
	z-index: 3;
	position: absolute;
	width: 114px;
	height: 28px;
}
.bild_kuenstler {
	left: 583px;
	padding-right: 6px;
}
.foto_kuenstler {
	padding-left: 60px;
}
#name_kuenstler {
	position: absolute;
	z-index: 3;
	height: 30px;
	width: 197px;
	left: 295px;
	top: 153px;
}
.typo_orange_fett {
	font-size: 12px;
	font-weight: bold;
	color: #ea8fa1;
}
.typo_orange_10 {

	font-size: 10px;
	color: #ea8fa1;
}
.typo_link_active {

	font-size: 11px;
	font-weight: bold;
	color: #ea8fa1;
}
.kuenstler_liste {
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	padding-right: 2px;
	voice-family: "\"}\"";
	voice-family:inherit;
	
}
#content_kuenstler_liste {
	width: 765px;
	background-color: #FFFFFF;
	margin-left: 155px;
	padding: 0px;
	margin-top: 0px;
}
#aktuelles {
	position: relative;
	margin-bottom: 10px;
	margin-top: -47px;
	z-index: 1;
	margin-left: 300px;
	border: 2px solid #000000;
	height: 401px;
	font-size: 11px;
	padding: 60px 10px 10px;
	width: 430px;
	background-color: #FFFFFF;
	overflow: visible;
	visibility: visible;
}
#kuenstler {
	z-index: 2;
	font-size: 11px;
	overflow: auto;
	width: 357px;
	top: 50px;
	position: relative;
	visibility: visible;
	height: 293px;
}
#text_index {
	padding: 5px 360px 5px 40px;
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
}
h1 {
	font-size: 11px;
	font-weight: bold;
	color: #ab273b;
	background-color: #FFFFFF;
}

.top_content {
	text-transform: capitalize;
	color: #ab273b;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	line-height: 110%;
	padding-left: 60px;
	padding-top: 35px;
}
.text_vorstand {
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 12px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
}
.typo_11_grau {
	font-size: 11px;
	color: #3f464e;
	padding: 1px;
}
.trennung_v {
	color: #ea8fa1;
}
.hintergrund_weiss {
	background-color: #FFFFFF;
}
#menu_horizontal1 {
	padding: 0px;
	background-color: #FFFFFF;
	position: relative;
	visibility: visible;
	z-index: 1;
	left: 0px;
	height: 20px;
}
#menu_horizontal_inside1 {

	padding: 0px;
	background-color: #FFFFFF;
	position: relative;
	visibility: visible;
	z-index: 1;
	left: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	font-size: 11px;
	margin-right: 15px;
	text-decoration: none;
}
.logo_links {
	background-image: url(logos/logo_links.gif);
	background-repeat: no-repeat;
}
#menu2 {
	float: left;
	position: relative;
	visibility: visible;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 15px;
}
.menu2 {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 20px;
}
.rahme_schwarz_unten {
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #FFFFFF;
}
.td_main_content {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-left: 65px;
}
.boxGalerie {

	text-transform: uppercase;
	font-style: normal;
	padding: 10px 0px;
	text-align: right;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 2px;
	line-height: 25px;
}
.foto_vorstand {
	padding-top: 40px;
}
.error {
	font-size: 11px;
	font-weight: bold;
	color: #ab273b;
}
.error_vorstand {
	font-size: 11px;
	font-weight: bold;
	color: #ab273b;
	padding-left: 60px;
}
.name_vorstand {
	font-size: 11px;
	text-align: left;
	padding-left: 5px;
}
.email_vorstand {

	font-size: 11px;
	padding-left: 50px;
}
.liste_kuenstler {
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
	padding-right: 30px;
	width: 200px;
}
.kuenstler {

	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	padding-left: 3px;
}
.name_kuenstler1 {
	font-size: 11px;
	font-weight: bold;
	color: #ab273b;
	text-align: left;
	padding-left: 5px;

}
.kateg_kuentsler1 {
	font-size: 11px;
	font-weight: normal;
	color: #ab273b;
	text-align: left;
	padding-left: 5px;
}
.text_vita {
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
	line-height: normal;
}
.text_austellungstermine {


	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
}
.bechreibung_bild {
	font-size: 11px;
	text-align: left;
}
#email_footer {
	a:link;
	color: #FFFFFF;	

}
.mehr_infos {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
}
.kurz_beschreib {

	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.titel11 {
	font-size: 11px;
}
.text_11_margin {


	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
}
.11 {
	font-size: 11px;
}
.daten_aendern {
	font-size: 13px;
	color: #ab273b;
	font-weight: bold;
}
.reihenfolge {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.suche {
	color: #ab273b;
	font-size: 11px;
	font-weight: bold;
}
.text_11_margin_fett {
	background-color: #FFFFFF;
	text-indent: 0px;
	font-size: 11px;
	z-index: 3;
	left: 10px;
	top: 30px;
	padding-left: 60px;
	font-weight: bold;
}
