<?php
  $Domain=eregi_replace(".*\.([a-z0-9\-]*)\.([a-z]*)$","\\1.\\2",getenv("SERVER_NAME"));
?>
<HTML>
<HEAD>
<TITLE><?php echo getenv("SERVER_NAME"); ?></TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</HEAD>
<BODY BGColor="#7B91A6" LeftMargin="0" TopMargin="0" MarginWidth="0" MarginHeight="0" Text="white" Link="white" VLink="white" ALink="white">
<TABLE Border="0" CellPadding="0" CellSpacing="0" Width="594">
<TR Valign="top">
<TD Rowspan="2"><IMG SRC="/.kontent/hosting1.gif" Width="226" Height="256" Border="0" usemap="#Map"><MAP Name="Map"><AREA Shape="circle" Coords="74,69,44" HREF="http://www.kontent.de/"></MAP></TD>
<TD><IMG SRC="/.kontent/hosting2.gif" Width="368" Height="105" Border="0"></TD>
</tr>
<TR Valign="top">
<TD Valign="Bottom" Align="Center">
<P><FONT Face="Arial, Helvetica, sans-serif" size="4" color="#FFFFFF">An dieser Stelle entsteht in K&uuml;rze die neue Internetpr&auml;sentation der Domain<BR><BR><STRONG><U><?php echo getenv("SERVER_NAME"); ?></U></STRONG></FONT></P><BR>
<P Align="Center"><FONT Face="Arial, Helvetica, sans-serif" Size="2">Bitte besuchen Sie uns in den n&auml;chsten Tagen erneut.<BR>
</FONT></P>
<BR>
<FONT Face="Arial, Helvetica, sans-serif" Size="2"><B>powered by <A HREF="http://www.kontent.de">KONTENT</A> / ... hosted by <A HREF="http://www.komplex.net/">KomPlex.Net</A></B></FONT></P>
</TD>
</TABLE>
</BODY>
</HTML>
